.page { 
    padding: 40px; 
    background-color: rgb(236, 255, 244); 
    min-height: 100vh; 
}

.card { 
    background: white; 
    padding: 20px; border-radius: 8px; 
    margin-bottom: 10px; display: flex; 
    justify-content: space-between; 
}

.btn { 
    color: rgb(196, 50, 128); 
    text-decoration: none; 
    border: 1px solid; 
    padding: 5px 10px; 
    border-radius: 4px; 
}